<br/><br/>
<form [formGroup]="form" (ngSubmit)="onSubmit()">  
    
    <label>
        Nome:
        <input type="text" formControlName="nome"  required />
        <span class="alert-danger" *ngIf="submited && form.get('nome')?.errors?.required">
             *Campo obrigatório.
        </span>        
    </label>

    <br/><br/>

    <label>
        Código:
        <input type="text" formControlName="codigo" required />
        <span class="alert-danger" *ngIf="submited && form.get('codigo')?.errors?.required">
             *Campo obrigatório.
        </span>           
    </label>

    <br/><br/>

    <label>
        Endereço:
        <input type="text" formControlName="endereco"  required />
        <span class="alert-danger" *ngIf="submited && form.get('endereco')?.errors?.required">
             *Campo obrigatório.
        </span>           
    </label>

    <br/><br/>

    <label>
        Telefone:
        <input type="text" formControlName="telefone"  required />
        <span class="alert-danger" *ngIf="submited && form.get('telefone')?.errors?.required">
            *Campo obrigatório.
        </span>            
    </label>    

    <br/><br/>

    <label>
        Status:
        <select name="status" formControlName="status" required>
            <option value="" selected>(selecione)</option>
            <option value="ativo">ativo</option>
            <option value="excluido">excluido</option>
            <option value="inativo">inativo</option>
        </select> 
        <span class="alert-danger" *ngIf="submited && form.get('status')?.errors?.required">
            *Campo obrigatório.
        </span>          
    </label>     
    
    <br/><br/>
    
    <label>
        Data de Nascimento:
        <input type="text" formControlName="dataNascimento"  required />
        <span class="alert-danger" *ngIf="submited && form.get('dataNascimento')?.errors?.required">
            *Campo obrigatório.
        </span>            
    </label>       

    <br/><br/>

    <button type="submit">Submit</button>

    <div *ngIf="message">
        <br/><br/>
        <div>{{ message }}</div>
    </div>
</form>