<br/><br/>
<form [formGroup]="form" (ngSubmit)="onSubmit()">  

    <label>
        Code:
        <input type="text" formControlName="code" required />
        <span class="alert-danger" *ngIf="submited && form.get('code')?.errors?.required">
            *Required field
        </span>           
    </label>

    <br/><br/>    
    
    <label>
        Name:
        <input type="text" formControlName="name"  required />
        <span class="alert-danger" *ngIf="submited && form.get('name')?.errors?.required">
             *Required field
        </span>        
    </label>

    <br/><br/>

    <label>
        Address:
        <input type="text" formControlName="address"  required />
        <span class="alert-danger" *ngIf="submited && form.get('address')?.errors?.required">
            *Required field
        </span>           
    </label>

    <br/><br/>

    <label>
        Telephone:
        <input type="text" formControlName="telephone"  required />
        <span class="alert-danger" *ngIf="submited && form.get('telephone')?.errors?.required">
            *Required field
        </span>            
    </label>    

    <br/><br/>

    <label>
        Status:
        <select name="status" formControlName="status" required>
            <option value="" selected>(selecione)</option>
            <option value="active">active</option>
            <option value="deleted">deleted</option>
            <option value="inactive">inactive</option>
        </select> 
        <span class="alert-danger" *ngIf="submited && form.get('status')?.errors?.required">
            *Required field
        </span>          
    </label>     
    
    <br/><br/>
    
    <label>
        Birth Date:
        <input type="text" formControlName="birthDate"  required />
        <span class="alert-danger" *ngIf="submited && form.get('birthDate')?.errors?.required">
            *Required field
        </span>            
    </label>       

    <br/><br/>

    <button type="submit">Save</button>

    <div *ngIf="message">
        <br/><br/>
        <div [class.alert-danger]="error">{{ message }}</div>
    </div>
</form>